body{
    all:unset;
    width: 100vw;
    height: 100vh;


    display: flex;
    /* justify-content: center; */
    align-items: center;    
    flex-direction: column;
    
}

.header{
    height: 4em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;    
    
    flex-direction: row;

    /* background-color: brown; */
    padding: 0 0 0 0;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 4em;
    width: 20em;
    /* background-color: rgb(255, 230, 0); */
}

.b {
    height: 4em;
    width: 100%;
    /* background-color: rgb(155, 148, 151); */
}


.c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 4em;
    width: 20em;
    /* background-color: rgb(157, 154, 197); */
}

.about{
    width: 100%;
    padding-left: 1em;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    /* background-color: purple; */
}

.store{
    width: 100%;
    padding-left: 1em;
    /* background-color: salmon; */
    font-family: arial, sans-serif;
    font-size: 0.9em;
}

.email{
    width: 3em;
    padding-left: 1em;
    /* background-color: salmon; */
    font-family: arial, sans-serif;
    font-size: 0.8em;
}

.pictures{
    width: 100%;
    padding-left: 1em;
    /* background-color: salmon; */
    font-family: arial, sans-serif;
    font-size: 0.8em;
}

.space{
    height: 13.45em;
    width: 100%;

    /* background-color: red; */
}

.googleLogo{
    height: 6.5em;
    width: 100%; 
    /* background-color: orange; */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .googleImage{
    height: 6.5em;
    width: auto;
} */

.searchDiv{
    height: 5em;
    width: 100%;
    /* background-color: yellow; */

    display: flex;
    justify-content: center;
    align-items: center;

}



.navText{
    height: 2.125em;
    width: 36em;
    outline: none;
    border-radius: 5em;
    border: grey 0.0625em solid;
    opacity: 0.5;
    font-size: 1em;
    
    
}


.navText:hover{
    
    box-shadow: 0 0.1em 0.3em gray;
}



.googleButtons{
    height: 3.5em;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: green; */
}

.trustLucky{
    height: 2.5em;
    width: 10em;
    font-family: arial, sans-serif;
    font-size: 0.875em;
    background-color: rgb(247, 247, 247);
    border: 0;
    border-radius: 0.2em;
    margin-right: 1em;

}

.trustLucky:hover{
    
    box-shadow: 0 0.1em 0.3em gray;
}


.googleLanguages{
    height: 3em;
    width: 100%;

    background-color: blue;
}

.space2{
    height: 25.5em;
    width: 100%;

    background-color: purple;
}

.googleLegacy{
    height: 6em;
    width: 100%;

    background-color: grey;
}
